.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.image {
  max-width: 100%;
  height: auto;
}

.prevButton,
.nextButton {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.prevButton {
  position: absolute;
  left: 0;
}

.nextButton {
  position: absolute;
  right: 0;
}